.App {
    height: 100vh;
    width: 100vw;
    /* background-color: #333333; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2% 2% 2% 2%/4% 4% 4% 4%;
}

.sky-tray-wrapper {
    width: 50.6vw;
    height: 32.5vh;
    position: absolute;
    left: 24.76vw;
    top: 66.9vh;
    z-index: -1;
}