.App {
    /* background-color: #333333; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sky-tray-wrapper {
    width: 50.6vw;
    height: 32.5vh;
    min-width: 320px;
    position: absolute;
    left: 24.76vw;
    top: 66.1vh;
    z-index: -1;
}

@media only screen and (max-width: 800px) {
  .sky-tray-wrapper {
      width: 100vw;
      left: 0vw;
  }
}