
.tray {
    width: 50.5vw;
    height: 32.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: .19em solid purple;
    border-radius: 2% 2% 2% 2%/5% 5% 5% 5%;
}

.tray-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51vw;
  height: 10.5vh;
}

.octet {
  height: 10vh;
  width: 11.6vw;
  border: .11em solid silver;
  border-radius: .5em;
  color: white;
  background-color: pink;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: blue;
  font-style: bolder;
}

.left {
  margin-right: .1vw;
}

.right {
  margin-left: .1vw;
}